body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    object-fit: fill;
    color: black;
    text-align: center;

}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
th,tr,td{
    padding: 10px 80px;
}
th{
    background-color: rgb(128, 205, 34);
    border-collapse: collapse;
}
tr,td{
    margin: 0%;
    background-color: rgb(200, 255, 168);
}
table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
}

button{
    all: unset;
    border: 2px solid greenyellow;
    background-color: green;
    padding: 10px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}
#bun{
    all: unset;
    border: 2px solid greenyellow;
    background-color: green;
    padding: 10px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}
